@model mvcEjemplo1.Models.estudiante

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>estudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fec_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fec_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dpi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dpi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_estudiante }) |
    @Html.ActionLink("Back to List", "Index")
</p>
